
<label for="newsids">
	<f:translate key="tx_phinewsletter_domain_model_emails.newsids" />
</label><br />
	<f:form.textfield property="newsids" /><br />
<label for="userid">
	<f:translate key="tx_phinewsletter_domain_model_emails.userid" />
</label><br />
	<f:form.textfield property="userid" /><br />
<label for="senttime">
	<f:translate key="tx_phinewsletter_domain_model_emails.senttime" />
</label><br />
	<f:form.textfield property="senttime" /><br />
<label for="edition">
	<f:translate key="tx_phinewsletter_domain_model_emails.edition" />
</label><br />
	<f:form.textfield property="edition" /><br />
